html {
  overflow-y: scroll;
}

.tap-dom .test .assert {
  padding-left: 1em;
}

.tap-dom .test {
  margin-bottom: 1em;
}

.page {
  display: none;
}

.vertical-align {
  display: flex;
  align-items: center;
}

#out {
  height: 400px;
  overflow-y: scroll;
}

.jumbotron h1 {
  margin-bottom: .5em;
  font-size: 3em;
}

.jumbotron img {
  vertical-align: bottom;
}

.progress {
  height: 40px;
}

.progress .progress-bar {
  line-height: 40px;
  font-size: 1.2em;
}

.progress span, .progress img {
  vertical-align: middle;
}

.jumbotron {
  background-color: #fff
}

#advanced-options-form {
  margin-top: 1em;
}
