# We want to push dist/ to npm but not to github
# This file is only here to overwrite the default npmignore behavior:
# use .gitignore if there's no .gitignore
# https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package
